/* iframe 디자인은 index.js에 되어있음 */
@font-face {
    font-family: custom;
    src: url(GowunDodum-Regular.ttf);
}

body{
    background-image: url('../images/longer.jpg');
    /*background-color: gray;*/
}

.audio{
    background-color: blue;
}

.audioContainer {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


iframe { 
    display:none;
    margin: auto;
    padding: none;
    border: none; 
}

#title{
    font-family: custom;
    color:white;
    text-align: center;
}


.mainText{
    font-family: custom;
    color:white;
    text-align: center;
    font-size: 20px;

}

pre {
    font-family: custom;
    font-size: 20px;
 }


 .container{
    width: 80%;
    margin: auto;
 }

.changePageContainer{
    margin: auto;

}
#previous{
    float:left;
    margin-left: 5%;
}
#next{
    float:right;
    margin-right: 5%;
}

/*
.mainText{
    background-color:rgba(28,34,61,255);
}
*/

.dropdown .button{
    border: none;
}

button {
    background-image: url(images/lang.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 43px;
    width: 43px;
    border: none;
    background-color: transparent;
  }
  

.dropdown {
    float: right;
    position: relative;
    margin-right:5%
  }

  .dropContent{
    display: none;
    position: absolute;
  }

  .dropContent a {
    color: white;
    right: 0;
    text-decoration: none;
    display: block;
    margin-top: 10%;

  }

  .show {
    display:block;
    margin-top: 20px;
    font-size: large;
}
#english{
    margin-top: 10px;
}
#korean{
    margin-top: 20px;
}

